@using System

@{
    ViewBag.Title = "Stalk";
    Layout = "_Layout";
}
@{
    var channel = ViewBag.channel;
    var nick = ViewBag.nick + ".txt";
    var months = ViewBag.months;
    var valid = !string.IsNullOrWhiteSpace(channel) && !string.IsNullOrWhiteSpace(nick) && months != null;
    Console.WriteLine(valid);
}
<br/>
<div class="row">
    <form action="">
        <div class="row">
            <div class="input-field s12 m6 l3">
                <input name="channel" type="text" value="@channel">
                <label for="first_name">Channel</label>
            </div>
            <div class="input-field s12 m6 l3">
                <input name="nick" type="text" value="@ViewBag.nick">
                <label for="nick">Nick</label>
            </div>
            <div class="input-field s12 m6 l3">
                <button class="btn waves-effect waves-light deep-orange" type="submit">
                    Stalk
                </button>
            </div>
        </div>
    </form>
    <br/>
    @if (valid)
    {
        for (int i = 0; i < months.Count; i++)
        {
            var c = ".field" + i;
            var s = ".month" + i;
            if (i <= 9)
            {
                <div class="section ">
                    <h5>@i. @months[i]</h5>
                    <div class="@c.Replace(".", string.Empty) text"></div>
                </div>
                <div class="divider" style="opacity: 0.6"></div>
            }
        }
        if (months.Count > 9)
        {
            <br/>
            <h5>More Months</h5>
            <div class="divider" style="opacity: 0.6"></div>
            <div class="collection">
                @for (var i = 10; i < months.Count; i++)
                {
                    <a href="https://overrustlelogs.net/@channel chatlog/@months[i]/userlogs/@nick" class="collection-item">@months[i]</a>
                }
            </div>
        }
        <script>
            var myArr = @Html.Raw(Json.Serialize(ViewBag.months.ToArray()));
            console.log(myArr);
            for (i = 0; i < myArr.length; i++) {
                if (i === 10) {
                    break;
                }
                appendChunk(myArr[i], i);
            }
            function appendChunk(month, id) {
                var req = new XMLHttpRequest();
                req.onreadystatechange = handleStateChange;
                req.open('GET', 'https://overrustlelogs.net/' + capitalizeFirstLetter('@channel')+' chatlog/' + month +'/userlogs/@nick.ToLower()', true);
                req.send();

                function capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                }
                function handleStateChange() {
                    var text;
                    if (this.readyState === 4 && this.status === 200) {
                        text = req.responseText;
                        console.log(id);
                        $('<span />').text(text).appendTo('.field' + id);
                    }
                    if (this.readyState === 4 && this.status === 404) {
                        text = req.responseText;
                        console.log(id);
                        $('<span />').text(text).appendTo('.field' + id);
                    }
                }
            }
        </script>
    }
</div>