
@{
    ViewData["Title"] = "Stalk";
}
@{
    var channel = ViewBag.channel;
    var nick = ViewBag.nick + ".txt";
    var months = ViewBag.months;
    var latest = ViewBag.latestmonth;
    var valid = !string.IsNullOrWhiteSpace(channel) && !string.IsNullOrWhiteSpace(nick) && months != null;
}
<script >
    function appendChunk(month, id, nick, channel) {
        const link = `https://overrustlelogs.net/${channel} chatlog/${month}/userlogs/${nick}`;
        var req = new XMLHttpRequest();
        req.open("GET", link, true);
        req.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
        $(`.progressbar${id}`).show();
        req.onload = function () {
            const text = req.responseText;
            $(`.progressbar${id}`).hide();
            $(`.field${id}`).empty();
            $("<span />").text(text).appendTo(`.field${id}`);
        };
        req.send();
    }
</script>

<div class="row">
    <div class="col m1 l2 hide-on-med-and-down">
        @if (valid)
        {
            <ul class="section table-of-contents pinned-top">
                <li><a href="#top">@latest</a></li>
                @for (int i = 0; i < months.Count; i++)
                {
                    if (i == 8)
                    {
                        <li><a href="#moremonths">More Months</a></li>
                        break;
                    }
                    var s = "month" + i;
                    <li><a href="#@s">@months[i]</a></li>
                }
            </ul>
        }
    </div>
    <div class="col s12 m12 l8 hide-on-large-only center-align">
        @*stuff*@
    </div>
    <div class="col s12 m12 l8">
        <br/>
        <div class="row">
            <form action="">
                <div class="row">
                    <div class="input-field col s5">
                        <input name="channel" type="text" value="@channel">
                        <label for="channel">Channel</label>
                    </div>
                    <div class="input-field col s5">
                        <input name="nick" type="text" value="@ViewBag.nick">
                        <label for="nick">Nick</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn deep-orange" type="submit">
                            Stalk
                        </button>
                    </div>
                </div>
            </form>
            @if (valid)
            {
                <div class="section scrollspy" id="top">
                    <h5>@latest <span></span></h5>
                    <div class="latest text">
                        <span>@ViewBag.latest</span>
                    </div>
                </div>
                <div class="divider" style="opacity: 0.6"></div>

                for (var i = 0; i < months.Count; i++)
                {
                    if (i > 7)
                    {
                        break;
                    }
                    var c = ".field" + i;
                    var b = "btn" + i;
                    var p = ".progressbar" + i;
                    var s = ".month" + i;
                    <div class="section scrollspy" id="@s.Replace(".", string.Empty)">
                        <h5>@months[i] <span><button class="waves-effect waves-orange btn-flat @b" onclick="appendChunk('@months[i]', @i, '@nick', '@channel')">Load</button></span></h5>
                        <div class="@c.Replace(".", string.Empty) text"></div>
                        <div class="progress deep-orange @p.Replace(".", string.Empty)" style="display: none">
                            <div class="indeterminate orange"></div>
                        </div>
                    </div>
                    <div class="divider" style="opacity: 0.6"></div>
                }
                
                <script>
                    getLatest('@nick', '@channel');
                </script>
                if (months.Count > 7)
                {
                    <div id="moremonths" class="scrollspy" >
                        <br/>
                        <h5>More Months</h5>
                        <div class="divider" style="opacity: 0.6"></div>
                        <div class="collection">
                            @for (var i = 8; i < months.Count; i++)
                            {
                                <a href="https://overrustlelogs.net/@channel chatlog/@months[i]/userlogs/@nick.Replace(".txt", string.Empty)" class="collection-item">@months[i]</a>
                            }
                        </div>
                    </div>
                }
            }
        </div>

    </div>
    <div class="col m1 l2 hide-on-med-and-down">
        @*stuff*@
    </div>
</div>
